@model IEnumerable<Basics.Models.Student>
@using Basics.Bussiness
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New Student v2</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @{
                        var result = await AuthorizationService.AuthorizeAsync(User, item, new[] { new StudentOwnerRequirement() });
                    }
                    @if (result.Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
